[submodule "src/serial"]
	path = src/serial
	url = https://github.com/tylerjw/serial.git
	branch = ros2
[submodule "src/robotiq_2f_urcap_adapter"]
	path = src/robotiq_2f_urcap_adapter
	url = https://github.com/fzi-forschungszentrum-informatik/robotiq_2f_urcap_adapter.git
[submodule "src/moveit_calibration"]
	path = src/moveit_calibration
	url = https://github.com/IllusionMZX/moveit_calibration.git
[submodule "src/graspnet-baseline"]
	path = src/graspnet-baseline
	url = https://github.com/IllusionMZX/graspnet-baseline-ur.git
[submodule "src/Fast-FoundationStereoPhysics"]
	path = src/Fast-FoundationStereoPhysics
	url = https://github.com/IllusionMZX/FFS-Physics
