**/__pycache__/**
*.ipynb
**/.ipynb_checkpoints/**
*.npy
*.npz
**/.vscode/**
**/grasp_label*/**
**/log*/**
**/dump*/**
**/build/**
*.o
*.so
*.egg
**/*.egg-info/**
logs
dataset/tolerance
captured_data/
*.deb

zedInhand_rsTohand/captured_data/
zedInhand_rsTohand/llm_output/
zedInhand_rsTohand/mediapipe_output/